@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_UnauthorizedLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 ml-auto mr-auto text-center">
        <h2 class="title">SharePay</h2>
        <h5 class="description">Sharing payments has never been easier. SharePay also alows you to collect recuring payments or to split payment in more than 1 payment transactions. </h5>
    </div>
</div>
<div class="row">
    <div class="col-md-3 ml-auto mr-auto text-center">
        <div class="card card-pricing ">
            <h6 class="card-category">Transaction Fee</h6>
            <div class="card-body">
                <div class="card-icon icon-rose ">
                    <i class="material-icons">attach_money</i>
                </div>
                <h3 class="card-title">2.5% + $0.30</h3>
                <p class="card-description">Per transaction to the receiver.</p>
            </div>
            <div class="card-footer justify-content-center ">
                <a href="@Url.Action("Register","Account")" class="btn btn-round btn-rose">Join SharePay</a>
            </div>
        </div>
    </div>
    
</div>