
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">equalizer</i>
                </div>
                <p class="card-category">Balance EUR</p>
                <h3 class="card-title">€34,245</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Last Transaction 15.03.2018
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">equalizer</i>
                </div>
                <p class="card-category">Balance USD</p>
                <h3 class="card-title">$34,245</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Last Transaction 15.03.2018
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">equalizer</i>
                </div>
                <p class="card-category">Balance GPB</p>
                <h3 class="card-title">£34,245</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Last Transaction 15.03.2018
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">equalizer</i>
                </div>
                <p class="card-category">Balance BGN</p>
                <h3 class="card-title">34,245 лв.</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Last Transaction 15.03.2018
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-chart">
            <div class="card-header card-header-success" data-header-animation="true">
                <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-body">
                <div class="card-actions">
                    <button type="button" class="btn btn-danger btn-link fix-broken-card">
                        <i class="material-icons">build</i> Fix Header!
                    </button>
                    <button type="button" class="btn btn-info btn-link" rel="tooltip" data-placement="bottom" title="Refresh">
                        <i class="material-icons">refresh</i>
                    </button>
                    <button type="button" class="btn btn-default btn-link" rel="tooltip" data-placement="bottom" title="Change Date">
                        <i class="material-icons">edit</i>
                    </button>
                </div>
                <h4 class="card-title">Payment request per month</h4>
                <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in last month payment requests.
                </p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> last payment request on 10.03.2018
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">Top Active Payment Request's</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Description</th>
                                <th class="text-right">Amount</th>
                                <th>Currency</th>
                                <th>Is Recurring</th>
                                <th>Created Date</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td>New years Party</td>
                                <td class="text-right">99,225</td>
                                <td>USD</td>
                                <td><i class="material-icons success">done</i></td>
                                <td>14-12-2017</td>

                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="View" class="btn btn-info">
                                        <i class="material-icons">assignment</i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">2</td>
                                <td>Month Help</td>
                                <td class="text-right">200</td>
                                <td>USD</td>
                                <td></td>
                                <td>12-01-2018</td>

                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="View" class="btn btn-info">
                                        <i class="material-icons">assignment</i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">3</td>
                                <td>Party Fund</td>
                                <td class="text-right">56,50</td>
                                <td>BGN</td>
                                <td><i class="material-icons success">done</i></td>
                                <td>14-10-2017</td>

                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="View" class="btn btn-info">
                                        <i class="material-icons">assignment</i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">4</td>
                                <td>Products Order</td>
                                <td class="text-right">10,00</td>
                                <td>EUR</td>
                                <td><i class="material-icons success">done</i></td>
                                <td>21-02-2018</td>

                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="View" class="btn btn-info">
                                        <i class="material-icons">assignment</i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">5</td>
                                <td>Transaction</td>
                                <td class="text-right">25,00</td>
                                <td>EUR</td>
                                <td></td>
                                <td>10-03-2018</td>

                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="View" class="btn btn-info">
                                        <i class="material-icons">assignment</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
